* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 10rem;
    height: 10rem;
    object-fit: contain;
}

.card {
    background-color: wheat;
    text-align: center;
    margin: 1rem;
    border-radius: 7px;
}

.card img {
    width: 5rem;
    height: 5rem;
}

.country-card {
    border-radius: 7px;
    background-color: grey;
    text-align: center;
    margin: 1rem;
    color: #f2f2f2;
}
